/*JET BRAINS MONO*/
@import url("fonts/jetBrainsMono.css");

/*HEPTA SLAB*/
@font-face {
  font-family: "Hepta Slab";
  src: url("fonts/HeptaSlab-VariableFont_wght.ttf") format("opentype");
}

/*MINIPAX*/
@import url("fonts/minipax.css");

/*WORK SANS*/
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  src: url("fonts/WorkSans[wght].ttf") format("opentype");
}
@font-face {
  font-family: "Work Sans";
  font-style: italic;
  src: url("fonts/WorkSans-Italic[wght].ttf") format("opentype");
}

/*SPACE GROTESK*/
@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("opentype");
}

/*SPECTRAL*/
@import url("fonts/spectral.css");

/*RECURSIVE*/
@font-face {
  font-family: "Recursive";
  src: url("fonts/Recursive_VF_1.047.ttf") format("opentype");
}
