/*JET BRAINS MONO*/
/*MINIPAX*/
/*SPECTRAL*/
@import url("fonts/fontFace.css");

/*HEPTA SLAB*/
@font-face {
  font-family: "Hepta Slab";
  src: url("fonts/HeptaSlab-VariableFont_wght.ttf") format("opentype");
}

/*WORK SANS*/
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  src: url("fonts/WorkSans[wght].ttf") format("opentype");
}
@font-face {
  font-family: "Work Sans";
  font-style: italic;
  src: url("fonts/WorkSans-Italic[wght].ttf") format("opentype");
}

/*SPACE GROTESK*/
@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("opentype");
}

/*RECURSIVE*/
@font-face {
  font-family: "Recursive";
  src: url("fonts/Recursive_VF_1.047.ttf") format("opentype");
}

/*NEWSREADER*/
@font-face {
  font-family: "Newsreader";
  font-style: normal;
  src: url("fonts/Newsreader-VariableFont_opsz,wght.ttf") format("opentype");
}
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  src: url("fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf") format("opentype");
}

/*INTER*/
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter.ttf") format("opentype");
}
