@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

